-
  const links = [
    { icon: 'img/icons/ProjectsIcon.svg', href: '/objects.html', title: 'Проекты' },
    { icon: 'img/icons/objects-menu.svg', href: '/sliders.html', title: 'Глав. слайдер' },
    { icon: 'img/icons/feedbackIcon.svg', href: '/feedback.html', title: 'Отзывы' },
    { icon: 'img/icons/PartnersIcon.svg', href: '/partners.html', title: 'Партнёры' },
    { icon: 'img/icons/textsIcon.svg', href: '/texts.html', title: 'Тексты' },
    { icon: 'img/icons/ContactsIcon.svg', href: '/contacts.html', title: 'Контакты' },
    { icon: 'img/icons/menuIcon.svg', href: '/menu.html', title: 'Меню' },
    { icon: 'img/icons/seoIcon.svg', href: '/seo.html', title: 'Seo' },
    { icon: 'img/icons/SettingsIcon.svg', href: '/settings.html', title: 'Настройки' },
  ]

header.header
  .header__wrap
    .header__logo
      img(src="img/logo.svg" alt="Logo")
    .header__links-wrap
      ul.header__links-list
        each link in links
          li.header__link-item
            a.header__link(href=link.href)
              img(src=link.icon alt="Link icon")
              span #{link.title}
    .header__collapse
      img(src="img/icons/HeaderArrow.svg" alt="Collapse")
      span Скрыть
