
.modal.photo-modal.fade(id="videoModal" tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
            .modal-header
                button.close-btn(type="button" data-dismiss="modal" aria-label="Close")
                    span
                    span
            .modal-body
                .modal-video
                    .embed-responsive
