.row.mb-5
    .col-12.d-flex.justify-content-between
        h1.page-title SEO
        .btn-wrap
            button.btn.btn-primary(type="submit") Сохранить изменения
.row.mb-5
    .col-12
        .seo-menu
            a.seo-menu_item#seo-sections(href="/seo.html") Разделы
            a.seo-menu_item#seo-sitemap(href="/seo-robot.html") Robot и sitemap
            a.seo-menu_item#seo-head(href="/seo-head.html") Head