#object-create-objects {

  .object-create_container {
    max-width: 1300px;
    height: 100%;
  }

  .create-object_objects-wrapper {

    padding: 0 40px;

    .private-houses_wrap {

    }

    .private-houses_wrap-head,
    .flats-wrapper_head,
    .flat-floor_head,
    .flat-head{
      display: flex;
      align-items: center;
    }

    .private-houses_wrap-drag,
    .flats-wrapper_drag,
    .flat-floor_btn-drag,
    .flat-btn_drag{
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .set-object_title {
      margin: 0 30px;
    }

    .create-object_object-helpers {
      display: flex;
      align-items: center;
      position: relative;
      img {
        cursor: pointer;
      }
    }

    .create-object_object-expander,
    .flat-floor_expander{
      width: 30px;
      height: 24px;
      transform: rotate(0deg);
      transition: all .6s ease-in-out;
      margin-right: 30px;

      &.expander-active {
        transition: all .6s ease-in-out;
        transform: rotate(90deg);
      }

    }


    .create-object_object-menu {
      width: 6px;
      height: 24px;
    }

    .object-head_menu {
      position: absolute;
      top: 55px;
      right: 0;
      z-index: 1;
      width: 252px;
      box-shadow: 0 0 12px rgba(0, 12, 24, 0.1);
      border-radius: 6px;
      background-color: #ffffff;
      display: none;

      &.object-menu-active {
        display: block;
      }

    }

    .object-head_menu-item {
      padding: 15px 20px;
      border-bottom: 1px solid #e6e6e6;
      color: #000c18;
      font-family: $museo-300;
      font-size: 16px;
      cursor: pointer;
      &:last-child{
        border-bottom: none;
      }

      &:nth-child(2) {
        color: #ff0000;
      }
    }

    .created-object,
    .flat-floor_wrapper,
    .flat-wrapper{
      display: none;

      &.object-active {
        display: flex !important;
      }
    }

  }

  .create-object_objects-footer {
    padding: 0 40px;
    height: 100%;

    &.object-exists {
      padding: 0 100px;
      height: unset;
      .empty-objects_create-page_wrap {
        flex-direction: row;
        align-items: center;
        padding-bottom: 0;
        justify-content: flex-end;
      }

      .empty-objects_head {
        display: none;
      }

      .empty-objects_add-house {
        margin-bottom: 0 !important;
        margin-right: 30px;
      }

    }

    .empty-objects_create-page_wrap {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 250px;
      color: $blue;
      font-family: $museo;
      font-size: 16px;

      .empty-objects_head {
        color: #a6a6a6;
      }

      .empty-objects_add-house,
      .empty-objects_head{
        margin-bottom: 15px;
      }

      .empty-objects_add-house,
      .empty-objects_head,
      .empty-objects_add-flats {
        cursor: pointer;
      }

    }
  }

  .placeholderBackground {
    height: 50px;
    margin-bottom: 42px;
    background-color: #3c9ce3;
  }

  .flat-wrapper-drag {
    position: relative;
  }

}