#feedback-page {

  .table-wrap {
    height: auto;
  }

  .table-img_col {
    padding-right: 60px;
  }

  .feedback-image {
    height: 90px;
    width: 90px;
    border-radius: 50%;
  }

  .feedback-th {
    padding-left: 60px;
  }

  .feedback-text p{
    max-width: 762px;
    overflow: unset;
    white-space: unset;
  }

  .feedback-text {
    padding-left: 60px;
    padding-right: 60px;
  }

  .table-text {
    font-family: $museo-300;
    font-size: 16px;
    line-height: 22px;
  }

  .video-td {
    .table__text button{
      color: $blue;
      border: none;
      outline: none;
      background-color: transparent;
    }
  }

}

#feedback-create-page {
  .page-title-row {
    padding: 0;
  }

  .container {
    max-width: 1300px;
  }

}