#menu-page {

  .container {
    max-width: 1300px;
  }

  .menu-page_title {
    color: #000c18;
    font-family: $museo;
    font-size: 32px;
    padding-left: 35px;
  }


  .menu-item,
  .menu-item_path{
    height: 50px;
    border-radius: 6px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #222222;
    font-family: $museo;
    font-size: 16px;
    width: 100%;
  }

  .menu-drag_item {
    height: 20px;
    width: 20px;
    margin-right: 15px;
    cursor: pointer;
  }

  .hide_drag {
    visibility: hidden;
  }

  .menu-item_switcher {
    display: flex;
    align-items: center;
    label {
      color: #222222;
      font-family: $museo-300;
      font-size: 16px;
      margin-bottom: 0;
      margin-right: 12px;
    }
  }

  .placeholderBackground {
    height: 50px;
    margin-bottom: 21px;
  }



}