#partners-page {

  .container {
    max-width: 1300px;
  }

  .page-title-row {
    padding: 0;
  }

  .inputs__photo-preview.inputs__photo-preview_small {
    overflow: unset;
    border-radius: unset;
  }

  .inputs__photo-preview {
    &:before {
      content: "";
      transition: all .6s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000;
      opacity: 0;
    }
  }

  .inputs__photo-preview:hover {
      &:before {
        opacity: .2;
      }
  }

  .inputs__photo-actions{
    flex-direction: column;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    z-index: 2;
  }

  .action-btn {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .delete {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    margin-left: 2px;
  }

  .form-group.edit {
    margin-bottom: 0;
  }

  .add-file {
    border-radius: unset;
    border: none;
    height: 100%;
  }

  .img-preview {
    border-radius: 0;
  }

  .add-icon.edit {
    width: 15px;
    height: 50%;
    background-image: url("../src/img/icons/edit_img.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }

  .icon-action {
    height: 15px;
    cursor: pointer;
  }



  .inputs__photo-actions {
    border-radius: unset;
    background-image: unset;
  }

  .inputs__photo img {
    object-fit: contain;
  }

  .inputs {
    &__photo-preview {
      &_small {
        width: 100%;
        max-height: 60px;
      }
    }
  }
}
