#seo-head_page {

  .container {
    max-width: 1300px;
  }

  .seo-head_textarea {
    min-height: 355px;
    resize: none;
    color: #222222;
    font-family: $museo-300;
    font-size: 16px;
  }

}