#seo-page {

  .container {
    max-width: 1300px;
  }


  .seo-section_title {
    color: #222222;
    font-family: $museo;
    font-size: 20px;
  }

  .seo-section_textarea {
    min-height: 260px;
    resize: none;
  }



}