#seo-robot_page {

  .container {
    max-width: 1300px;
  }

  .seo-robot_title {
    margin-bottom: 20px;
    color: #222222;
    font-family: $museo;
    font-size: 20px;
  }

  .seo-robot_textarea {
    min-height: 260px;
    resize: none;
    color: #222222;
    font-family: $museo-300;
    font-size: 16px;
  }

}