#texts-building {

  .container {
    max-width: 1300px;
  }

  .page-title-row {
    padding: 0;
  }

  .building-cards {
    .add-file {
      height: 90px;
      width: 90px;
    }
  }

  .add-file {
    width: 255px;
    height: 255px;
  }

  .card-textarea{
    min-height: 120px;
    resize: none;
  }

}