#texts-page {

  .page-title-row {
    padding: 0;
  }

  .container {
    max-width: 1300px;
  }

  .texts-textarea {
    min-height: 160px;
    height: auto;
    resize: none;
  }

  .texts-textarea2 {
    min-height: 260px;
  }

  .texts-textarea3 {
    min-height: 120px;
  }

  .add-file {
    width: 100%;
    height: 255px;
  }

}