#object-create-about{

  padding: 40px 0;

  .main-form {
    height: 100%;
  }

  .object-create_container {
    max-width: 1300px;
  }

  .create-object_map-wrap {
    border-radius: 6px;
    border: 2px solid #3c9ce3;
    height: 100%;
  }

  
  .create-object_about {
    padding: 0 40px;

    .tab-about_head {
      margin-bottom: 30px;
    }

    .create-object {
      height: 350px;
      max-width: 540px ;
      position: relative;
    }

    .add-file {
      width: 100%;
      height: 350px;
    }

    .add-icon_plus {
      height: 64px;
      width: 64px;
      top: 35%;
      span {
        width: 64px;
      }
    }

    .add-icon {
      z-index: 2;
    }

    .add-icon:hover ~ .input-preview_hint {

        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 95px;
        width: 399px;
        color: $blue;
        font-family: $museo;
        font-size: 16px;
        text-align: center;
        top: unset;
        background-color: unset;
        box-shadow: unset;
        padding: 0;
        cursor: pointer;
        &:after {
          display: none;
        }

    }


    .input-preview_hint {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 95px;
      width: 399px;
      color: $blue;
      font-family: $museo;
      font-size: 16px;
      text-align: center;
    }

    .add-file.preview-active {

      .inputs-photo_action {
        justify-content: flex-end;
      }

      .hint-icons {
        margin-right: 30px;

        &:hover {

        }

      }

      .hint-icons:hover ~ .input-preview_hint {

        display: block;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(-19%,calc(-100% - 25px));
        z-index: 3;
        color: #000c18;
        font-family: $museo-300;
        font-size: 14px;
        width: 373px;
        box-shadow: 0 0 12px rgba(0, 12, 24, 0.1);
        background-color: #fff;
        padding: 15px;
        text-align: center;
        height: fit-content;
        &:after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 50%;
          background-color: #fff;
          height: 15px;
          width: 20px;
          transform: rotate(45deg) translate(-50%, calc(100% + 3px));
        }
      }

      .view {
        margin-right: 30px;
      }

      .add-icon {
        margin-right: 30px;
      }

      .input-preview_hint {
        display: none;
      }

    }

  }




}