#object-create-status {


  .container {
    max-width: 1300px;
  }

  .current-status_wrapper {
    padding: 0 40px;
  }

  .add_current-status {
    color: $blue;
    font-family: $museo;
    font-size: 16px;
    cursor: pointer;
  }

  .card-status_wrapper {
    padding: 0 40px;
  }

  .create-object_name-input {
    margin-right: 30px;
  }

  .card-status_item-menu {
    width: 6px;
    height: 24px;
    cursor: pointer;
  }

  .card-status_textarea {
    min-height: 260px;
    resize: none;
  }

  .card-status_menu {
    position: absolute;
    top: 55px;
    right: 0;
    z-index: 1;
    width: 252px;
    box-shadow: 0 0 12px rgba(0, 12, 24, 0.1);
    border-radius: 6px;
    background-color: #ffffff;
    display: none;

    &.object-menu-active {
      display: block;
    }
  }

  .card-status_menu-item {
    padding: 15px 20px;
    border-bottom: 1px solid #e6e6e6;
    color: #000c18;
    font-family: $museo-300;
    font-size: 16px;
    cursor: pointer;
    &:last-child{
      border-bottom: none;
    }

  }

  .status-item_delete {
    color: #ff0000;
  }


}