.inputs-wrap {
  padding: 0 40px;
}

.add-file.create-slide {
  height: 160px;
  width: 160px;
  position: relative;
}

.form-control.create-slide_textarea {
  resize: none;
  height: 240px;
}

.img-preview {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.add-icon {
  z-index: 1;
}