#texts-about {

  .page-title-row {
    padding: 0;
  }

  .container {
    max-width: 1300px;
  }

  .rectangle-wrapper {
    padding: 0 15px;
  }

  .texts-textarea {
    min-height: 130px;
    resize: none;
  }

}