/* AVENIR */
@font-face {
  font-family: 'AvenirNextCyr Bold';
  src: url('../fonts/Avenir/AvenirNextCyr-Bold.eot');
  src: local('HelveticaNeueCyr-Bold'),
  url('../fonts/Avenir/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextCyr-Bold.woff') format('woff'),
  url('../fonts/Avenir/HAvenirNextCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextCyr Light';
  src: url('../fonts/Avenir/AvenirNextCyr-Light.eot');
  src: local('HelveticaNeueCyr-Bold'),
  url('../fonts/Avenir/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextCyr-Light.woff') format('woff'),
  url('../fonts/Avenir/HAvenirNextCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextCyr Medium';
  src: url('../fonts/Avenir/AvenirNextCyr-Medium.eot');
  src: local('HelveticaNeueCyr-Bold'),
  url('../fonts/Avenir/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextCyr-Medium.woff') format('woff'),
  url('../fonts/Avenir/HAvenirNextCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextCyr Regular';
  src: url('../fonts/Avenir/AvenirNextCyr-Regular.eot');
  src: local('HelveticaNeueCyr-Bold'),
  url('../fonts/Avenir/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir/AvenirNextCyr-Regular.woff') format('woff'),
  url('../fonts/Avenir/HAvenirNextCyr-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* MUSEO */
@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: url('../fonts/Museo/hinted-MuseoSansCyrl-900.eot');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: local('Museo Sans Cyrl 900'), local('MuseoSansCyrl-900'),
  url('../fonts/Museo/hinted-MuseoSansCyrl-900.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url('../fonts/Museo/hinted-MuseoSansCyrl-300.eot');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: local('Museo Sans Cyrl 300'), local('MuseoSansCyrl-300'),
  url('../fonts/Museo/hinted-MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url('../fonts/Museo/hinted-MuseoSansCyrl-700.eot');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: local('Museo Sans Cyrl 700'), local('MuseoSansCyrl-700'),
  url('../fonts/Museo/hinted-MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 100';
  src: url('../fonts/Museo/hinted-MuseoSansCyrl-100.eot');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 100';
  src: local('Museo Sans Cyrl 100'), local('MuseoSansCyrl-100'),
  url('../fonts/Museo/hinted-MuseoSansCyrl-100.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url('../fonts/Museo/hinted-MuseoSansCyrl-500.eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: local('Museo Sans Cyrl 500'), local('MuseoSansCyrl-500'),
  url('../fonts/Museo/hinted-MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
