html, body {
  color: $black;
  font-size: 14px;
  line-height: normal;
  font-family: $avenir;
  background-color: #eeefef;
}

input, button, textarea, select, option {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6, ul, li, input, button, a, p {
  margin: 0;
  text-decoration: none !important;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  position: relative;
}

img {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
}

main {
  flex-grow: 1;
  display: flex;
  padding: 30px 0;
  overflow: hidden;
  flex-direction: column;
}

input[type=file] {
  display: none;
}

[class*='-primary'] {
  border: 1px solid $blue;
}

.image-wrap {
  position: relative;
  z-index: 1;
}

.container {
  z-index: 5;
  padding: 0 60px;
  max-width: 1600px;
  position: relative;
}

.slick-slide {
  outline: none !important;
}

.btn {
  padding: 0;
  width: 220px;
  height: 50px;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  box-shadow: none;
  border-radius: 6px;
  margin-right: 30px;
  font-family: $museo;
  align-items: center;
  justify-content: center;

  &:last-child {
    margin-right: 0;
  }

  &.btn-primary {
    background-color: $blue;

    &:hover {
      color: #fff;
      border-color: $blue;
      background-color: $blue;
    }
  }

  &.btn-outline-primary {
    color: $blue;

    &:hover {
      color: #fff;
      border-color: $blue;
      background-color: $blue;
    }
  }

  &.btn-danger {
    border-color: red;
    background-color: red;

    &:hover {
      border-color: red;
      background-color: red;
    }
  }
}

.page-title-row {
  display: flex;
  padding: 0 40px;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;

  .btn-wrap {
    display: flex;
    align-items: center;
  }

  .form-group {
    margin-bottom: 0;

    label {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

.page-title {
  color: $black;
  font-size: 32px;
  font-family: $museo;
}

#form-delete {
  width: 100%;
  
  form {
    display: flex;
    justify-content: center;
  }
  
  .delete-text, .delete-btn, .cancel-btn {
    color: #ff0000;
    font-size: 16px;
    line-height: 22px;
    margin-right: 15px;
  }
  
  .delete-btn {
    color: $blue;
  }
  
  .cancel-btn {
    color: $blue;
    margin-right: 0;
  }
}
