mixin hintText(hint)
    .form-group.add-file.create-slide
        .inputs-photo_action
            div.hint-icons
            button.action-btn.view(data-toggle="modal" data-target="#photo-modal" data-src="img/DefaultImage.png")
                img.icon-action(src="img/icons/ViewIcon.svg" alt="View")
            label.add-icon.edit
                .add-icon_plus
                    span
                    span
                input.form-control-file.input-preview_file(type="file" accept="image/*"
                    data-img-size="big")
            button.action-btn.delete(data-action="delete")
                img.icon-action(src="img/icons/DeleteIcon.svg" alt="Delete")
            span.input-preview_hint=hint
