mixin photoModal(id)
 .modal.photo-modal.fade(id=id tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
      .modal-content
        .modal-header
          button.close-btn(type="button" data-dismiss="modal" aria-label="Close")
            span
            span
        .modal-body
          .modal-photo-image
            img(src="img/DefaultImage.png" alt="Modal photo")