.form-group.add-file.create-slide
    .inputs-photo_action
        div.hint-icons
        button.action-btn.view(data-toggle="modal" data-target="#photo-modal" data-src="img/DefaultImage.png")
            img.icon-action(src="img/icons/ViewIcon.svg" alt="View")
        .form-group.action-btn.edit
            label(for="edit-photo-1")
                img.icon-action(src="img/icons/edit_img.svg" alt="Edit")
            input.edit(type="file" accept="image/*" id="edit-photo-1")
        button.action-btn.delete
            img.icon-action(src="img/icons/DeleteIcon.svg" alt="Delete")
        .inputs__photo
            img(src="img/icons/partner.png" alt="Default image")