
.row.main-form_head
    .col-12
        .page-title-row
            h1.page-title Создание объекта
            .btn-wrap
                button.btn.btn-primary(type="submit") Сохранить изменения
.row.create-object_switches-wrapper
    .col-12.d-flex.justify-content-between
        .create-object_switch-wrap
            a.create-object_switch#create-object_switch-about(href="/object-create-about.html") О комплексе
            a.create-object_switch#create-object_switch-objects(href="/object-create-objects.html") Объекты
            a.create-object_switch#create-object_switch-status(href="/object-building-status.html") Статус строительства
            a.create-object_switch#create-object_switch-gallery(href="/object-create-gallery.html") Галерея
        .create-object_switches2-wrap
            .create-object_switch2-wrap
                label На главной
                input.create-object_switch2(type="checkbox" checked)
            .create-object_switch2-wrap
                label Включён
                input.create-object_switch2(type="checkbox" checked)