
.form-group.add-file {
  .add-icon:hover ~ .input-preview_hint {

      display: block;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(31.5%,calc(-100% - 25px));
      z-index: 3;
      color: #000c18;
      font-family: $museo-300;
      font-size: 14px;
      width: 373px;
      box-shadow: 0 0 12px rgba(0, 12, 24, 0.1);
      background-color: #fff;
      padding: 15px;
      text-align: center;
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        background-color: #fff;
        height: 15px;
        width: 20px;
        transform: rotate(45deg) translate(-50%, calc(100% + 3px));
      }


  }

  .inputs-photo_action {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .add-icon {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }

    .add-icon_plus {
      position: absolute;
      width: 25px;
      height: 25px;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    .hint-icons {
      display: none;
    }
    .view {
      display: none;
    }

    .delete {
      display: none;
    }

    .input-preview_hint {
      display: none;
    }

    .input-preview_file {
      display: none;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      cursor: pointer;
    }

    .add-icon {
      margin-bottom: 0;
      span {
        width: 24px;
        height: 2px;
      }

    }

  }

  &.preview-active {

    overflow: unset;

    .add-icon:hover ~ .input-preview_hint {
      display: none;
    }

    .inputs-photo_action {
      position: absolute;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      padding: 15px;
    }
    .hint-icons {
      display: block;
      cursor: pointer;
      width: 8px;
      height: 16px;
      background-image: url("../src/img/icons/hint.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      z-index: 1;
    }

    .hint-icons:hover ~ .input-preview_hint,
    .input-preview_hint:hover{
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(15%,calc(-100% - 35px));
      z-index: 3;
      color: #000c18;
      font-family: $museo-300;
      font-size: 14px;
      width: 373px;
      box-shadow: 0 0 12px rgba(0, 12, 24, 0.1);
      background-color: #fff;
      padding: 15px;

      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        background-color: #fff;
        height: 15px;
        width: 20px;
        transform: rotate(45deg) translate(-50%, calc(100% + 3px));
      }

    }

    .view {

      outline: none;
      background-color: unset;
      border: unset;
      width: 23px;
      height: 16px;
      padding: 0;
      display: flex;
      position: relative;
      z-index: 1;
      img {
        object-fit: contain;
      }
    }

    .delete {
      outline: none;
      background-color: unset;
      border: unset;
      width: 14px;
      height: 16px;
      padding: 0;
      display: flex;
      position: relative;
      z-index: 1;
      img {
        object-fit: contain;
      }
    }

    .input-preview_file {
      display: none;
    }

    .add-icon {
      display: block;
      width: 16px;
      height: 16px;
      margin-bottom: 0;
      background-image: url(../src/img/icons/edit_img.svg);
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
      position: static;
      span {
        display: none;
      }
    }

    .img-preview {
      border-radius: 6px;
    }

  }
}
