.seo-menu {
  display: flex;
}

.seo-menu_item {
  color: #a6a6a6 !important;
  font-family: $museo;
  font-size: 20px;
  margin-right: 40px;
  cursor: pointer;

  &:hover {
    color: #a6a6a6 !important;
  }

  &:last-child {
    margin-right: 0;
  }

  &.active {
    color: $blue !important;
    &:hover {
      color: $blue !important;
    }
  }
}