

.texts-menu {
  display: flex;
}

.texts-menu_item {
  margin-right: 40px;
  color: #a6a6a6;
  font-family: $museo;
  font-size: 20px;
  cursor: pointer;

  &.active {
    color: $blue;
  }

  &:last-child {
    margin-right: 0;
  }
}

.texts-menu_item {
  &:hover {
    color: #a6a6a6 !important;
  }

  &.active {
    color: $blue !important;
  }
}