#videoModal {
  .modal-content {
    height: 700px;
  }

  .modal-video {
    height: 100%;
  }

  .embed-responsive {
    height: 100%;
  }

  .no-video {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 24px;
    font-family: $museo-700;
  }
}