.main-form_head {
  margin-bottom: 50px;
}

.page-title-row {
  margin-bottom: 0;
}

.create-object_switches-wrapper {
  padding:0 40px;
  margin-bottom: 30px;
}

.create-object_switch-wrap{
  display: flex;
  align-items: center;
}

.create-object_switch {
  color: #a6a6a6 !important;
  font-family: $museo;
  font-size: 20px;
  margin-right: 40px;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }

  &.active {
    &:hover {
      color: $blue !important;
    }
    color: $blue !important;
  }

  &:hover {
    color: #a6a6a6 !important;
  }

}

.create-object_switches2-wrap {
  display: flex;
}

.create-object_switch2-wrap {

  display: flex;
  align-items: center;
  &:first-child {
    margin-right: 30px;
  }

  label {
    color: #222222;
    font-family: $museo-300;
    font-size: 16px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.create-object_switch2 {
  position: relative;
  appearance: none;
  outline: none;
  background-color: #ffffff;
  transition-duration: 200ms;
  width: 64px;
  height: 32px;
  border-radius: 16px;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 1px;
    border-radius: 50%;
    box-shadow:2px 1px 3px rgba(0,0,0,0.2);
    width: 28px;
    height: 28px;
    background-color: #ffffff;
  }

  &:checked {
    background-color: #3c9ce3;
    box-shadow: inset 20px 0 0 0 #3c9ce3;
  }

  &:checked:after {
    left: unset;
    right: 1px;
    box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
  }
}