extends includes/layout
include mixins/inputText

block vars
  - const title = 'Admin | Contacts'

append content
  main#contacts-page
    form.container.main-form
      .row
        .col-12.mb-5
          .page-title-row
            h1.page-title Контакты
            .btn-wrap
              button.btn.btn-primary(type="submit") Изменить
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Общие контакты
            .row
              .col-4
                +inputText('text', 'headerNumber', 'Номер телефона в шапке')
              .col-4
                +inputText('text', 'facebook', 'Facebook')
              .col-4
                +inputText('text', 'instagram', 'Instagram')
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Офис продаж в Одессе
            .row
              .col-4.mb-3
                +inputText('text', 'phoneOdesa-1', 'Номер телефона 1')
              .col-4.mb-3
                +inputText('text', 'addressOdesa-1', 'Адрес 1')
              .col-4.mb-3
                +inputText('text', 'phoneOdesa-2', 'Номер телефона 2')
              .col-4
                +inputText('text', 'addressOdesa-2', 'Адрес 2')
              .col-4
                +inputText('text', 'mailOdesa', 'Почта')
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Офис продаж в Киеве
            .row
              .col-4
                +inputText('text', 'phoneKiev', 'Номер телефона')
              .col-4
                +inputText('text', 'addressKiev', 'Адрес')
              .col-4
                +inputText('text', 'mailKiev', 'Почта')