extends includes/layout
include mixins/photoModal
include mixins/add-photo

block vars
  - const title = 'Admin | Feedback create'
  - const hint = 'Рекомендуемый формат: jpg, 1100х750, оптимизированный через сервис tinypng.com (при использовании другого формата дизайн сайта  может отличаться от задумки дизайнера)'
append content
  main#feedback-create-page
    form.container.main-form(action="/")
      .row.mb-5
        .col-12
          .page-title-row
            h1.page-title Создание отзыва
            .btn-wrap
              a.btn.btn-outline-primary(href="/feedback.html") Отмена
              button.btn.btn-primary(type="submit") Создать отзыв
      .row.feedback-inputs_wrapper
        .col-12
          .row
            .col-2
              +hintText(hint)
            .col-10
              .row.mb-3
                .col-6
                  input.form-control.create-slide_input-fullname(type="text" name="fullName" placeholder="Имя, фамилия")
                .col-6
                  input.form-control.create-slide_input-link(type="text" name="videoLink" placeholder="Ссылка на видео")
              .row
                .col-12
                  textarea.form-control.create-slide_textarea(placeholder="Описание" name="description")




append footer_content
  +photoModal('photo-modal')