extends includes/layout

block vars
  - const title = 'Admin | Feedback'

append content
  main#feedback-page
    .container
      .row
        .col-12.mb-5
          .page-title-row
            h1.page-title Отзывы
            .btn-wrap
              a.btn.btn-outline-primary(href="/feedback-create.html") Создать отзыв
        .col-12
          .table-wrap
            table.table
              thead
                tr
                  th(scope="col")
                  th(scope="col")
                    p Фото
                  th(scope="col")
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="search-name" placeholder="Имя фамилия")
                  th(scope="col").feedback-th
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="search-sub-name" placeholder="Отзыв")
                  th(scope="col")
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="search-description" placeholder="Видео")
                  th(scope="col")
                    p Действие
              tbody.feedback-tbody
                tr
                  td.drag-icon_col
                    img.svg.drag-icon(src="img/icons/dragIcon.svg")
                  td.table-img_col
                    .table__image.feedback-image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Max Singleton
                  td
                    .table__text.feedback-text
                      p Хотели купить дом, знакомые рассказали о Дайберге. Сначала было непонятно,что такое таунхаусы и дуплексы, почему такая стоимость и что мы покупаем за такие деньги, а главное почему это, а не купить землю под дом. Сейчас мы закончили ремонт и переехали. Ни на секунду не пожалела. Детки любят парк и мы спокойно отпускаем их самих играться. Довольны и всем советуем!)
                  td.video-td
                    .table__text
                      button.video-td_btn(data-toggle="modal" data-target="#videoModal" data-modal-video="") Открыть
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item(type="button") Редактировать
                          button.dropdown-item(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr
                  td.drag-icon_col
                    img.svg.drag-icon(src="img/icons/dragIcon.svg")
                  td.table-img_col
                    .table__image.feedback-image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Max Singleton
                  td
                    .table__text.feedback-text
                      p Хотели купить дом, знакомые рассказали о Дайберге. Сначала было непонятно,что такое таунхаусы и дуплексы, почему такая стоимость и что мы покупаем за такие деньги, а главное почему это, а не купить землю под дом. Сейчас мы закончили ремонт и переехали. Ни на секунду не пожалела. Детки любят парк и мы спокойно отпускаем их самих играться. Довольны и всем советуем!)
                  td.video-td
                    .table__text
                      button.video-td_btn(data-toggle="modal" data-target="#videoModal" data-modal-video="https://www.youtube.com/embed/RJFab-bqxE8") Открыть
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item(type="button") Редактировать
                          button.dropdown-item(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить

                tr
                  td.drag-icon_col
                    img.svg.drag-icon(src="img/icons/dragIcon.svg")
                  td.table-img_col
                    .table__image.feedback-image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Max Singleton
                  td
                    .table__text.feedback-text
                      p Хотели купить дом, знакомые рассказали о Дайберге. Сначала было непонятно,что такое таунхаусы и дуплексы, почему такая стоимость и что мы покупаем за такие деньги, а главное почему это, а не купить землю под дом. Сейчас мы закончили ремонт и переехали. Ни на секунду не пожалела. Детки любят парк и мы спокойно отпускаем их самих играться. Довольны и всем советуем!)
                  td.video-td
                    .table__text
                      button.video-td_btn(data-toggle="modal" data-target="#videoModal" data-modal-video="https://www.youtube.com/embed/RJFab-bqxE8") Открыть
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item(type="button") Редактировать
                          button.dropdown-item(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr
                  td.drag-icon_col
                    img.svg.drag-icon(src="img/icons/dragIcon.svg")
                  td.table-img_col
                    .table__image.feedback-image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Max Singleton
                  td
                    .table__text.feedback-text
                      p Хотели купить дом, знакомые рассказали о Дайберге. Сначала было непонятно,что такое таунхаусы и дуплексы, почему такая стоимость и что мы покупаем за такие деньги, а главное почему это, а не купить землю под дом. Сейчас мы закончили ремонт и переехали. Ни на секунду не пожалела. Детки любят парк и мы спокойно отпускаем их самих играться. Довольны и всем советуем!)
                  td.video-td
                    .table__text
                      button.video-td_btn(data-toggle="modal" data-target="#videoModal" data-modal-video="https://www.youtube.com/embed/RJFab-bqxE8") Открыть
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item(type="button") Редактировать
                          button.dropdown-item(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr
                  td.drag-icon_col
                    img.svg.drag-icon(src="img/icons/dragIcon.svg")
                  td.table-img_col
                    .table__image.feedback-image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Max Singleton
                  td
                    .table__text.feedback-text
                      p Хотели купить дом, знакомые рассказали о Дайберге. Сначала было непонятно,что такое таунхаусы и дуплексы, почему такая стоимость и что мы покупаем за такие деньги, а главное почему это, а не купить землю под дом. Сейчас мы закончили ремонт и переехали. Ни на секунду не пожалела. Детки любят парк и мы спокойно отпускаем их самих играться. Довольны и всем советуем!)
                  td.video-td
                    .table__text
                      button.video-td_btn(data-toggle="modal" data-target="#videoModal" data-modal-video="https://www.youtube.com/embed/PbhtOTu0Dn8") Открыть
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item(type="button") Редактировать
                          button.dropdown-item(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
          .table-footer
            .table-footer__page-count
              p 1
              p из
              p 50
            .table-footer__nav-wrap
              a.table-footer__arrow.table-footer__arrow_prev(href="/feedback.html")
                img(src="img/icons/FooterArrow.svg" alt="Arrow")
              a.table-footer__arrow.table-footer__arrow_next(href="/feedback.html")
                img(src="img/icons/FooterArrow.svg" alt="Arrow")
  include includes/videoModal