extends includes/layout
include mixins/form

block vars
  - const isLogin = true
  - const title = 'Admin | Login'
  - const inputs = [{ type: 'email', id: 'email', placeholder: 'Почта', required: true },{ type: 'password', id: 'password', placeholder: 'Пароль', required: true }]

append content
  main#login-page
    section.login-section
      .container.login-container
        .row.login-logo_wrapper
          .col-12.d-flex.justify-content-center
            .logo-wrap
              img(src="img/logo.svg" alt="Logo")
        .row
          .col-12.d-flex.justify-content-center
            .login-wrapper
              h1.section-title Логин
              +form(inputs, '/', 'Войти')