extends includes/layout


block vars
    - const title = 'Admin | Menu'

append content
    main#menu-page
        .container
            .row.mb-5
                .col-12
                    .menu-page_title Меню
            .row.mb-4.menu-objects_wrapper
                .col-12
                    .row
                        .col-12
                            .row
                                .col-6.d-flex.align-items-center
                                    img.svg.menu-drag_item.hide_drag(src="img/icons/dragIcon.svg")
                                    .menu-item Объекты
                                .col-4
                                    .menu-item_path /objects
            .row
                .col-12.menu-wrapper
                    .row.mb-4
                        .col-6.d-flex.align-items-center
                            img.svg.menu-drag_item.drag-icon(src="img/icons/dragIcon.svg")
                            .menu-item О компании
                        .col-4
                            .menu-item_path /about
                        .col-2.d-flex.align-items-center
                            .menu-item_switcher
                                label Включён
                                input.create-object_switch2.menu-switcher(type="checkbox" checked)
                    .row.mb-4
                        .col-6.d-flex.align-items-center
                            img.svg.menu-drag_item.drag-icon(src="img/icons/dragIcon.svg")
                            .menu-item Строительство
                        .col-4
                            .menu-item_path /building
                        .col-2.d-flex.align-items-center
                            .menu-item_switcher
                                label Включён
                                input.create-object_switch2.menu-switcher(type="checkbox" checked)
                    .row.mb-4
                        .col-6.d-flex.align-items-center
                            img.svg.menu-drag_item.drag-icon(src="img/icons/dragIcon.svg")
                            .menu-item Ремонт
                        .col-4
                            .menu-item_path /renovation
                        .col-2.d-flex.align-items-center
                            .menu-item_switcher
                                label Включён
                                input.create-object_switch2.menu-switcher(type="checkbox" checked)
                    .row.mb-4
                        .col-6.d-flex.align-items-center
                            img.svg.menu-drag_item.drag-icon(src="img/icons/dragIcon.svg")
                            .menu-item Контакты
                        .col-4
                            .menu-item_path /contacts
                        .col-2.d-flex.align-items-center
                            .menu-item_switcher
                                label Включён
                                input.create-object_switch2.menu-switcher(type="checkbox" checked)




