extends includes/layout

block vars
  - const title = 'Admin | Objects'

append content
  main#projects-page
    .container
      .row
        .col-12.mb-5
          .page-title-row
            h1.page-title Объекты
            .btn-wrap
              a.btn.btn-outline-primary(href="/object-create-about.html") Создать объект
        .col-12
          .table-wrap
            table.table
              thead
                tr
                  th(scope="col")
                  th(scope="col")
                    p Фото
                  th.thead-title_text(scope="col")
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="search-name" placeholder="Заголовок")
                  th(scope="col")
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="description" placeholder="Краткое описание")
                  th.thead-action_text(scope="col")
                    p Действие
              tbody.objects-tbody
                tr.tbody-row
                  td.drag-icon_col
                    img.svg.drag-icon(src="img/icons/dragIcon.svg")
                  td.table-img_col
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td.table-title_col
                    .table__text
                      p ЖМ «Дайбеsadsasaрг»
                  td
                    .table__text
                      p
                        | There are several ways people can make money online. From selling products to advertising.
                        | This article I am going to explain the concept of contextual advertising.
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item.edit(type="button") Редактировать
                          button.dropdown-item.disable(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr.tbody-row
                  td.drag-icon_col
                    img.svg.drag-icon(src="img/icons/dragIcon.svg")
                  td.table-img_col
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td.table-title_col
                    .table__text
                      p ЖМ «Дайберг»
                  td
                    .table__text
                      p
                        | There are several ways people can make money online. From selling products to advertising.
                        | This article I am going to explain the concept of contextual advertising.
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item.edit(type="button") Редактировать
                          button.dropdown-item.disable(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr.tbody-row
                  td.drag-icon_col
                    img.svg.drag-icon(src="img/icons/dragIcon.svg")
                  td.table-img_col
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td.table-title_col
                    .table__text
                      p ЖМ «Дайберг»
                  td
                    .table__text
                      p
                        | There are several ways people can make money online. From selling products to advertising.
                        | This article I am going to explain the concept of contextual advertising.
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item.edit(type="button") Редактировать
                          button.dropdown-item.disable(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr.tbody-row
                  td.drag-icon_col
                    img.svg.drag-icon(src="img/icons/dragIcon.svg")
                  td.table-img_col
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td.table-title_col
                    .table__text
                      p ЖМ «Дайберг»
                  td
                    .table__text
                      p
                        | There are several ways people can make money online. From selling products to advertising.
                        | This article I am going to explain the concept of contextual advertising.
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item.edit(type="button") Редактировать
                          button.dropdown-item.disable(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr.tbody-row
                  td.drag-icon_col
                    img.svg.drag-icon(src="img/icons/dragIcon.svg")
                  td.table-img_col
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td.table-title_col
                    .table__text
                      p ЖМ «Дайберг»
                  td
                    .table__text
                      p
                        | There are several ways people can make money online. From selling products to advertising.
                        | This article I am going to explain the concept of contextual advertising.
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item.edit(type="button") Редактировать
                          button.dropdown-item.disable(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
      .row.pt-3.pb-3
        .col-12
          .objects-logo_wrap
            img.svg.objects-logo(src='img/logo_micore.svg')
