extends includes/layout
include mixins/photoModal
include mixins/add-photo
block vars
    - const title = 'Admin | Object create'
    - const hint = 'Рекомендуемый формат: jpg, 1100х750, оптимизированный через сервис tinypng.com (при использовании другого формата дизайн сайта может отличаться от задумки дизайнера) '
append content
    main#object-create-gallery
        form.container.main-form.object-create_container
            include create-object-includes/header
            +hintText(hint)

    +photoModal('photo-modal')