extends includes/layout
include mixins/photoModal
include mixins/add-photo
block vars
    - const title = 'Admin | Object create'
    - const hint = 'Рекомендуемый формат: jpg, 1100х750, оптимизированный через сервис tinypng.com (при использовании другого формата дизайн сайта может отличаться от задумки дизайнера) '
append content
    main#object-create-status
        form.container.main-form.object-create_container
            include create-object-includes/header
            .row.current-status_wrapper
                .col-11
                    input.form-control.create-object_status-input(type="text" name="currentStatus" placeholder="Текущий статус")
                .col-1.d-flex.align-items-center
                    .add_current-status Добавить
            .row
                .col-12.rectangle-wrapper
                    .rectangle
            .row.card-status_wrapper
                .col-12.d-flex.align-items-center.mb-3
                    input.form-control.create-object_name-input(type="text" name="name" placeholder="Название")
                    .card-status_helpers
                        img.card-status_item-menu(src="/img/icons/object-menu.svg")
                        ul.card-status_menu
                            li.card-status_menu-item.status-item_delete Удалить
                .col-12.mb-3
                    textarea.form-control.card-status_textarea(name="description" placeholder="Описание")
                .col-12
                    +hintText(hint)
            .row
                .col-12.rectangle-wrapper
                    .rectangle
            .row.card-status_wrapper
                .col-12.d-flex.align-items-center.mb-3
                    input.form-control.create-object_name-input(type="text" name="name" placeholder="Название")
                    .card-status_helpers
                        img.card-status_item-menu(src="/img/icons/object-menu.svg")
                        ul.card-status_menu
                            li.card-status_menu-item.status-item_delete Удалить
                .col-12.mb-3
                    textarea.form-control.card-status_textarea(name="description" placeholder="Описание")
                .col-12
                    +hintText(hint)
    +photoModal('photo-modal')