extends includes/layout
include mixins/photoModal
include mixins/add-photo
block vars
  - const title = 'Admin | Object create'
  - const hint = 'Рекомендуемый формат: jpg, 2880х1536, оптимизированный через сервис tinypng.com (при использовании другого формата дизайн сайта может отличаться от задумки дизайнера) '
append content
  main#object-create-about
    form.container.main-form.object-create_container
      include create-object-includes/header

      .row.create-object_about(data-id="switch-about")
        .col-12
          .row.tab-about_head
            .col-6
              +hintText(hint)
            .col-6
              .create-object_map-wrap
          .row.create-object_inputs
            .col-6.pb-4
              input.form-control.create-slide_input-name(type="text" name="name" placeholder="Название")
            .col-6.pb-4
              input.form-control.create-slide_input-subtitle(type="text" name="postscript" placeholder="Приписка")
            .col-6.pb-4
              input.form-control.create-slide_input-additional(type="text" name="address" placeholder="Адрес")
            .col-6.pb-4
              input.form-control.create-slide_input-link(type="text" name="link" placeholder="Ссылка")
          .row
            .col-12
              textarea.form-control.create-slide_textarea(placeholder="Описание" name="description")



append footer_content
  +photoModal('photo-modal')