extends includes/layout
include mixins/photoModal
include mixins/add-photo

block vars
    - const title = 'Admin | Object create'
    - const hint = 'Рекомендуемый формат: jpg, 1100х750, оптимизированный через сервис tinypng.com (при использовании другого формата дизайн сайта  может отличаться от задумки дизайнера)'
append content
    main#object-create-objects
        form.container.main-form.object-create_container#object-create_form
            include create-object-includes/header
            .row.p-0
                .col-12.created-object_wrapper
                    .row.create-object_objects-wrapper
                        .col-12.mb-5
                            .private-houses_wrap
                                .private-houses_wrap-head
                                    img.svg.drag-icon.private-houses_wrap-drag.btn-object-drag(src="img/icons/dragIcon.svg")
                                    input.form-control.set-object_title(type="text" name="objectTitle" placeholder="Заголовок к объекту")
                                    .create-object_object-helpers
                                        img.create-object_object-expander(src="/img/icons/arrow.svg")
                                        img.create-object_object-menu(src="/img/icons/object-menu.svg")
                                        ul.object-head_menu
                                            li.object-head_menu-item Добавить дом
                                            li.object-head_menu-item Удалить дом
                                            li.object-head_menu-item Добавить частные дома
                                            li.object-head_menu-item Добавить дом с квартирами
                        .row.pl-3.w-100.created-object.mb-5
                            .col-12
                                .row
                                    .col-6
                                        .private-house
                                            .row.mb-4
                                                .col-12
                                                    +hintText(hint)
                                            .row.create-object_inputs.mb-4
                                                .col-8
                                                    input.form-control.create-slide_input-name(type="text" name="name" placeholder="Название")
                                                .col-4
                                                    input.form-control.create-slide_input-name(type="text" name="price" placeholder="Цена")
                                            .row
                                                .col-12
                                                    textarea.form-control.create-slide_textarea(placeholder="Описание" name="description")
                                    .col-6
                                        .private-house
                                            .row.mb-4
                                                .col-12
                                                    +hintText(hint)
                                            .row.create-object_inputs.mb-4
                                                .col-8
                                                    input.form-control.create-slide_input-name(type="text" name="name" placeholder="Название")
                                                .col-4
                                                    input.form-control.create-slide_input-name(type="text" name="price" placeholder="Цена")
                                            .row
                                                .col-12
                                                    textarea.form-control.create-slide_textarea(placeholder="Описание" name="description")
                        .row.pl-3.w-100.created-object.created-private-houses.mb-5
                            .col-12
                                .row
                                    .col-6
                                        .private-house
                                            .row.mb-4
                                                .col-12
                                                    +hintText(hint)
                                            .row.create-object_inputs.mb-4
                                                .col-8
                                                    input.form-control.create-slide_input-name(type="text" name="name" placeholder="Название")
                                                .col-4
                                                    input.form-control.create-slide_input-name(type="text" name="price" placeholder="Цена")
                                            .row
                                                .col-12
                                                    textarea.form-control.create-slide_textarea(placeholder="Описание" name="description")
                                    .col-6
                                        .private-house
                                            .row.mb-4
                                                .col-12
                                                    +hintText(hint)
                                            .row.create-object_inputs.mb-4
                                                .col-8
                                                    input.form-control.create-slide_input-name(type="text" name="name" placeholder="Название")
                                                .col-4
                                                    input.form-control.create-slide_input-name(type="text" name="price" placeholder="Цена")
                                            .row
                                                .col-12
                                                    textarea.form-control.create-slide_textarea(placeholder="Описание" name="description")
                    .row.create-object_objects-wrapper
                        .col-12.mb-5
                            .private-houses_wrap
                                .private-houses_wrap-head
                                    img.svg.drag-icon.private-houses_wrap-drag.btn-object-drag(src="img/icons/dragIcon.svg")
                                    input.form-control.set-object_title(type="text" name="objectTitle" placeholder="Заголовок к объекту")
                                    .create-object_object-helpers
                                        img.create-object_object-expander(src="/img/icons/arrow.svg")
                                        img.create-object_object-menu(src="/img/icons/object-menu.svg")
                                        ul.object-head_menu
                                            li.object-head_menu-item Добавить дом
                                            li.object-head_menu-item Удалить дом
                                            li.object-head_menu-item Добавить частные дома
                                            li.object-head_menu-item Добавить дом с квартирами
                        .row.pl-3.w-100.created-object.created-private-houses.mb-5
                            .col-12
                                .row
                                    .col-6
                                        .private-house
                                            .row.mb-4
                                                .col-12
                                                    +hintText(hint)
                                            .row.create-object_inputs.mb-4
                                                .col-8
                                                    input.form-control.create-slide_input-name(type="text" name="name" placeholder="Название")
                                                .col-4
                                                    input.form-control.create-slide_input-name(type="text" name="price" placeholder="Цена")
                                            .row
                                                .col-12
                                                    textarea.form-control.create-slide_textarea(placeholder="Описание" name="description")
                                    .col-6
                                        .private-house
                                            .row.mb-4
                                                .col-12
                                                    +hintText(hint)
                                            .row.create-object_inputs.mb-4
                                                .col-8
                                                    input.form-control.create-slide_input-name(type="text" name="name" placeholder="Название")
                                                .col-4
                                                    input.form-control.create-slide_input-name(type="text" name="price" placeholder="Цена")
                                            .row
                                                .col-12
                                                    textarea.form-control.create-slide_textarea(placeholder="Описание" name="description")
                    .row.create-object_objects-wrapper
                        .col-12.mb-5
                            .flats-wrapper
                                .flats-wrapper_head
                                    img.svg.flats-wrapper_drag.btn-object-drag.drag-icon(src="img/icons/dragIcon.svg")
                                    input.form-control.set-object_title(type="text" name="objectTitle" placeholder="Заголовок к объекту")
                                    .create-object_object-helpers
                                        img.create-object_object-expander(src="/img/icons/arrow.svg")
                                        img.create-object_object-menu(src="/img/icons/object-menu.svg")
                                        ul.object-head_menu
                                            li.object-head_menu-item Добавить дом
                                            li.object-head_menu-item Удалить дом
                                            li.object-head_menu-item Добавить частные дома
                                            li.object-head_menu-item Добавить дом с квартирами
                        .row.w-100.pl-3.flat-floor_wrapper.created-object
                            .col-10.p-0.mr-auto.ml-auto
                                .row.show-flat
                                    .col-12.mb-4
                                        .flat-floor
                                            .flat-floor_head
                                                img.svg.flat-floor_btn-drag.drag-icon(src="img/icons/dragIcon.svg")
                                                input.form-control.set-object_title(type="text" name="floorTitle" placeholder="Заголовок к этажу")
                                                .create-object_object-helpers
                                                    img.flat-floor_expander(src="/img/icons/arrow.svg")
                                                    img.create-object_object-menu(src="/img/icons/object-menu.svg")
                                                    ul.object-head_menu
                                                        li.object-head_menu-item Добавить дом
                                                        li.object-head_menu-item Удалить дом
                                                        li.object-head_menu-item Добавить частные дома
                                                        li.object-head_menu-item Добавить дом с квартирами
                                    .row.pl-3.pr-3.w-100.flat-wrapper
                                        .col-12.mb-5
                                            +hintText(hint)
                                        .row.w-100.pl-3.pr-3.mb-5.flat-wrapper-drag
                                            .col-6
                                                .flat
                                                    .flat-head.mb-4
                                                        img.svg.drag-icon.flat-btn_drag.drag-icon(src="img/icons/dragIcon.svg")
                                                        input.form-control.set-object_title(type="text" name="flatTitle" placeholder="Заголовок к квартире")
                                                        .create-object_object-helpers
                                                            img.create-object_object-menu(src="/img/icons/object-menu.svg")
                                                            ul.object-head_menu
                                                                li.object-head_menu-item Добавить дом
                                                                li.object-head_menu-item Удалить дом
                                                                li.object-head_menu-item Добавить частные дома
                                                                li.object-head_menu-item Добавить дом с квартирами
                                                    .row.mb-4
                                                        .col-12
                                                            input.form-control.set-object_title.ml-0(type="text" name="flatPrice" placeholder="Цена")
                                                    .row.mb-4
                                                        .col-12
                                                            +hintText(hint)
                                                    .row
                                                        .col-12
                                                            textarea.form-control.create-slide_textarea(placeholder="Описание" name="flatDescription")
                                            .col-6
                                                .flat
                                                    .flat-head.mb-4
                                                        img.svg.drag-icon.flat-btn_drag.drag-icon(src="img/icons/dragIcon.svg")
                                                        input.form-control.set-object_title(type="text" name="flatTitle" placeholder="Заголовок к квартире")
                                                        .create-object_object-helpers
                                                            img.create-object_object-menu(src="/img/icons/object-menu.svg")
                                                            ul.object-head_menu
                                                                li.object-head_menu-item Добавить дом
                                                                li.object-head_menu-item Удалить дом
                                                                li.object-head_menu-item Добавить частные дома
                                                                li.object-head_menu-item Добавить дом с квартирами
                                                    .row.mb-4
                                                        .col-12
                                                            input.form-control.set-object_title.ml-0(type="text" name="flatPrice" placeholder="Цена")
                                                    .row.mb-4
                                                        .col-12
                                                            +hintText(hint)
                                                    .row
                                                        .col-12
                                                            textarea.form-control.create-slide_textarea(placeholder="Описание" name="flatDescription")
                            .col-10.p-0.mr-auto.ml-auto
                                .row.show-flat
                                    .col-12.mb-4
                                        .flat-floor
                                            .flat-floor_head
                                                img.svg.flat-floor_btn-drag.drag-icon(src="img/icons/dragIcon.svg")
                                                input.form-control.set-object_title(type="text" name="floorTitle" placeholder="Заголовок к этажу")
                                                .create-object_object-helpers
                                                    img.flat-floor_expander(src="/img/icons/arrow.svg")
                                                    img.create-object_object-menu(src="/img/icons/object-menu.svg")
                                                    ul.object-head_menu
                                                        li.object-head_menu-item Добавить дом
                                                        li.object-head_menu-item Удалить дом
                                                        li.object-head_menu-item Добавить частные дома
                                                        li.object-head_menu-item Добавить дом с квартирами
                                    .row.pl-3.pr-3.w-100.flat-wrapper
                                        .col-12.mb-5
                                            +hintText(hint)
                                            .row.w-100.pl-3.pr-3.mb-5.mt-2.flat-wrapper-show
                                                .col-6
                                                    .flat
                                                        .flat-head.mb-4
                                                            img.svg.drag-icon.flat-floor_btn-drag(src="img/icons/dragIcon.svg")
                                                            input.form-control.set-object_title(type="text" name="flatTitle" placeholder="Заголовок к квартире")
                                                            .create-object_object-helpers
                                                                img.create-object_object-menu(src="/img/icons/object-menu.svg")
                                                                ul.object-head_menu
                                                                    li.object-head_menu-item Добавить дом
                                                                    li.object-head_menu-item Удалить дом
                                                                    li.object-head_menu-item Добавить частные дома
                                                                    li.object-head_menu-item Добавить дом с квартирами
                                                        .row.mb-4
                                                            .col-12
                                                                input.form-control.set-object_title.ml-0(type="text" name="flatPrice" placeholder="Цена")
                                                        .row.mb-4
                                                            .col-12
                                                                +hintText(hint)
                                                        .row
                                                            .col-12
                                                                textarea.form-control.create-slide_textarea(placeholder="Описание" name="flatDescription")
                                                .col-6
                                                    .flat
                                                        .flat-head.mb-4
                                                            img.svg.drag-icon.flat-floor_btn-drag(src="img/icons/dragIcon.svg")
                                                            input.form-control.set-object_title(type="text" name="flatTitle" placeholder="Заголовок к квартире")
                                                            .create-object_object-helpers
                                                                img.create-object_object-menu(src="/img/icons/object-menu.svg")
                                                                ul.object-head_menu
                                                                    li.object-head_menu-item Добавить дом
                                                                    li.object-head_menu-item Удалить дом
                                                                    li.object-head_menu-item Добавить частные дома
                                                                    li.object-head_menu-item Добавить дом с квартирами
                                                        .row.mb-4
                                                            .col-12
                                                                input.form-control.set-object_title.ml-0(type="text" name="flatPrice" placeholder="Цена")
                                                        .row.mb-4
                                                            .col-12
                                                                +hintText(hint)
                                                        .row
                                                            .col-12
                                                                textarea.form-control.create-slide_textarea(placeholder="Описание" name="flatDescription")



        .container.object-create_container.create-object_objects-footer
            .row
                .col-12
                    .empty-objects_create-page_wrap
                        .empty-objects_head Не добавлен ни один объект
                        .empty-objects_add-house  Добавить частные дома
                        .empty-objects_add-flats Добавить дом с квартирами

    +photoModal('photo-modal')