extends includes/layout
include mixins/photoModal
include mixins/add-photo

block vars
  - const title = 'Admin | Partners'

append content
  main#partners-page
    form.container.main-form
      .row
        .col-12.mb-5
          .page-title-row
            h1.page-title Партнёры
            .btn-wrap
              button.btn.btn-primary.d-none(type="submit") Сохранить
              .form-group
                label.btn.btn-outline-primary(for="slider-photo") Добавить партнера
              input.form-control-file(type="file" accept="image/*" multiple id="slider-photo" data-img-size="small"
                data-img-type="partners")
        .col-12
          .row.photos-wrap
            .col-2.mb-5
              .inputs__photo-preview.inputs__photo-preview_small
                  .form-group.action-btn.edit.add-file
                    .inputs__photo-actions
                      label.add-icon.edit
                        input.form-control-file.input-preview_file(type="file" accept="image/*"
                          data-img-size="big")
                      button.action-btn.delete(data-action="delete")
                        img.icon-action(src="img/icons/DeleteIcon.svg" alt="Delete")
                    img(src="img/icons/partner.png" alt="Default image" class="img-preview")
            .col-2.mb-5
              .inputs__photo-preview.inputs__photo-preview_small
                .form-group.action-btn.edit.add-file
                  .inputs__photo-actions
                    label.add-icon.edit
                      input.form-control-file.input-preview_file(type="file" accept="image/*"
                        data-img-size="big")
                    button.action-btn.delete(data-action="delete")
                      img.icon-action(src="img/icons/DeleteIcon.svg" alt="Delete")
                  img(src="img/icons/partner.png" alt="Default image" class="img-preview")






append footer_content
  +photoModal('photo-modal')