extends includes/layout


block vars
    - const title = 'Admin | SEO'

append content
    main#seo-robot_page
        form.container.main-form(action="/")
            include seo-includes/seo-header
            .row
                .col-6
                    .seo-robot_title Robot.txt
                    textarea.form-control.seo-robot_textarea(name="robot" placeholder="Robot")
                .col-6
                    .seo-robot_title Sitemap.xml
                    textarea.form-control.seo-robot_textarea(name="sitemap" placeholder="Sitemap")