extends includes/layout


block vars
    - const title = 'Admin | SEO'

append content
    main#seo-head_page
        form.container.main-form(action="/")
            include seo-includes/seo-header
            .row
                .col-12
                    textarea.form-control.seo-head_textarea(name="head" placeholder="Head")