extends includes/layout


block vars
    - const title = 'Admin | SEO'


append content
    main#seo-page
        form.container.main-form(action="/")
            include seo-includes/seo-header
            .row.mb-5
                .col-12.mb-3
                    .seo-section_title Главная
                .col-12.mb-4
                    .row
                        .col-4
                            input.form-control.seo-section_input-title(type="text" name="mainTitle" placeholder="Title")
                        .col-4
                            input.form-control.seo-section_input-title(type="text" name="mainDescription" placeholder="Description")
                        .col-4
                            input.form-control.seo-section_input-title(type="text" name="mainKeywords" placeholder="Keywords")
                .col-12
                    textarea.form-control.seo-section_textarea(name="mainHeadCode" placeholder="Код в раздел head")
            .row
                .col-12.mb-3
                    .seo-section_title О компании
                .col-12.mb-4
                    .row
                        .col-4
                            input.form-control.seo-section_input-title(type="text" name="aboutTitle" placeholder="Title")
                        .col-4
                            input.form-control.seo-section_input-title(type="text" name="aboutDescription" placeholder="Description")
                        .col-4
                            input.form-control.seo-section_input-title(type="text" name="aboutKeywords" placeholder="Keywords")
                .col-12
                    textarea.form-control.seo-section_textarea(name="aboutHeadCode" placeholder="Код в раздел head")

