extends includes/layout
include mixins/inputText

block vars
  - const title = 'Admin | Settings'

append content
  main#settings-page
    form.container.main-form
      .row
        .col-12.mb-5
          .page-title-row
            h1.page-title Настройки
            .btn-wrap
              a.btn.btn-outline-primary(href="/index.html") Выйти
              button.btn.btn-primary(type="submit") Изменить
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Пароль
            .row
              .col-4
                +inputText('password', 'passwordOld', 'Старый пароль')
              .col-4
                +inputText('password', 'passwordNew', 'Новый пароль')
              .col-4
                +inputText('password', 'passwordNewConfirm', 'Подтвердите пароль')