extends includes/layout
include mixins/photoModal
include mixins/add-photo

block vars
  - const title = 'Admin | News create'
  - const hint = 'Рекомендуемый формат: jpg, 1100х750, оптимизированный через сервис tinypng.com (при использовании другого формата дизайн сайта может отличаться от задумки дизайнера) '
append content
  main#news-create-page
    form.container.main-form
      .row.mb-5
        .col-12
          .page-title-row
            h1.page-title Создание слайда
            .btn-wrap
              a.btn.btn-outline-primary(href="/sliders.html") Отмена
              button.btn.btn-primary(type="submit") Создать слайд
      .row.inputs-wrap
        .col-2
          +hintText(hint)
        .col-10
          .row
            .col-6.pb-4
              input.form-control.create-slide_input-name(type="text" name="name" placeholder="Название")
            .col-6.pb-4
              input.form-control.create-slide_input-subtitle(type="text" name="subtitle" placeholder="Подзаголовок")
            .col-6.pb-4
              input.form-control.create-slide_input-additional(type="text" name="additionalTitle" placeholder="Доп. заголовок")
            .col-6.pb-4
              input.form-control.create-slide_input-link(type="text" name="servicelink" placeholder="Ссылка на услугу")
          .row
            .col-12
              textarea.form-control.create-slide_textarea(placeholder="Описание" name="description")

  +photoModal('photo-modal')