extends includes/layout
include mixins/add-photo
include mixins/photoModal

block vars
    - const title = 'Admin | Texts'
    - const hint = 'default'

append content
    main#texts-about
        form.container.main-form(action="/")
            .row.mb-5
                .col-12
                    .page-title-row
                        h1.page-title Тексты
                        .btn-wrap
                            button.btn.btn-primary(type="submit") Сохранить изменения
            include texts-includes/header
            .row.mb-4
                .col-4
                    input.form-control(type="text" name="mainSubtitle" value="Всегда больше, чем м²")
                .col-4
                    input.form-control(type="text" name="mainTitle" value="Свой дом - это комфортно")
                .col-4
                    input.form-control(type="text" name="mainDescription" value="С квартирной безопасностью, чувством частности, низкими коммунальными платежами и собственной парковкой.")

            .row
                .col-3
                    +hintText(hint)
                .col-9
                    .row
                        .col-12.mb-3
                            input.form-control(type="text" name="aboutSubtitle" value="Основано в 2007 году")
                        .col-12.mb-3
                            input.form-control(type="text" name="aboutTitle" value="О компании")
                        .col-12
                            textarea.form-control.texts-textarea(placeholder="Описание" name="aboutDescription") Никита Лукьянчук – принципиальный бизнесмен. В 2012 году основал строительную компанию «Свой Дом». Никита первый, кто вывел дуплексы и таухаусы в отдельный сегмент рынка недвижимости города Одессы. Новый формат недвижимости успешно закрепился после сдачи первого объекта. Теперь с каждым годом все больше людей отказываются от жизни в многоэтажных домах в пользу малоквартирных клубных домов, таунхаусов и дуплексов от застройщика «Свой Дом». На период 2020 года сдано в эксплуатацию более 300 объектов современного вида недвижимости.
            .row
                .col-12.rectangle-wrapper
                    .rectangle
            .row
                .col-3
                    +hintText(hint)
                .col-9.mb-4
                    .row
                        .col-12.mb-3
                            input.form-control(type="text" name="AboutTitle2" value="Почему я в этом бизнесе?")
                        .col-12
                            textarea.form-control.texts-textarea(placeholder="Описание" name="AboutDescription2") Никита Лукьянчук – принципиальный бизнесмен. В 2012 году основал строительную компанию «Свой Дом». Никита первый, кто вывел дуплексы и таухаусы в отдельный сегмент рынка недвижимости города Одессы. Новый формат недвижимости успешно закрепился после сдачи первого объекта. Теперь с каждым годом все больше людей отказываются от жизни в многоэтажных домах в пользу малоквартирных клубных домов, таунхаусов и дуплексов от застройщика «Свой Дом». На период 2020 года сдано в эксплуатацию более 300 объектов современного вида недвижимости. Жилые комплексы от застройщика «Свой Дом» символизируют высокое качество, частность и безопасность каждой семьи.
                .col-12
                    .row
                        .col-6.mb-4
                            input.form-control(type="text" name="statisticTitle" value="О нас в цифрах")
                    .row
                        .col-4.mb-4
                            input.form-control(type="text" name="count1" value="16")
                            input.form-control(type="text" name="item1" value="Жилых комплексов")
                        .col-4.mb-4
                            input.form-control(type="text" name="count2" value="1500")
                            input.form-control(type="text" name="item2" value="Продано квартир/домов")
                        .col-4.mb-4
                            input.form-control(type="text" name="count3" value="15")
                            input.form-control(type="text" name="item3" value="Сотрудников в компании")
                        .col-4.mb-4
                            input.form-control(type="text" name="count4" value="15")
                            input.form-control(type="text" name="item4" value="Лет работы")
                        .col-4.mb-4
                            input.form-control(type="text" name="count5" value="15")
                            input.form-control(type="text" name="item5" value="Лет работы")

    +photoModal('photo-modal')
