extends includes/layout

block vars
    - const title = 'Admin | Texts'

append content
    main#texts-feedback
        form.container.main-form(action="/")
            .row.mb-5
                .col-12
                    .page-title-row
                        h1.page-title Тексты
                        .btn-wrap
                            button.btn.btn-primary(type="submit") Сохранить изменения
            include texts-includes/header
            .row.mb-4
                .col-6
                    input.form-control(type="text"  value="Оставить заявку")
                .col-6
                    input.form-control(type="text"  value="Оставьте ваши контактные данные и мы перезвоним в ближайшее время")
