extends includes/layout
include mixins/add-photo
include mixins/photoModal

block vars
  - const title = 'Admin | Texts'
  - const hint = 'default'

append content
  main#texts-page
    form.container.main-form(action="/")
      .row.mb-5
        .col-12
          .page-title-row
            h1.page-title Тексты
            .btn-wrap
              button.btn.btn-primary(type="submit") Сохранить изменения
      include texts-includes/header
      .row.mb-3
        .col-4
          .row.mb-5
            .col-12.mb-3
              input.form-control(type="text" name="headInfo1" value="Построенно")
            .col-12
              input.form-control(value="6 ЖК" name="headDescription1")
        .col-4
          .row.mb-5
            .col-12.mb-3
              input.form-control(type="text" name="headInfo2" value="Жильцов")
            .col-12
              input.form-control(value="2500〜" name="headDescription2")
        .col-4
          .row.mb-5
            .col-12.mb-3
              input.form-control(type="text" name="headInfo3" value="Строим" )
            .col-12
              input.form-control(value="8 лет" name="headDescription3")
      .row.mb-5
        .col-6
          input.form-control(type="text" name="sect2Subtitle" value="Спросите себя:")
        .col-6
          input.form-control(type="text" name="sect2Title" value="В каком доме вы хотите жить?")
      .row.mb-3
        .col-4
          .row.mb-5
            .col-12.mb-3
              input.form-control(type="text" name="sect2CardTitle" value="Лучшие соседи живут в наших ЖК!")
            .col-12
              textarea.form-control.texts-textarea( name="sect2CardDescription") Жизнь в наших комплексах выбирают позитивные люди, которых объединяют общие интересы или вид деятельности.

        .col-4
          .row.mb-5
            .col-12.mb-3
              input.form-control(type="text" name="sect2CardTitle2" value="Безопасность для всей семьи!")
            .col-12
              textarea.form-control.texts-textarea( name="sect2CardDescription2") Нас выбирают моряки, потому что им не страшно уехать в рейс оставив дом и семью.
        .col-4
          .row.mb-5
            .col-12.mb-3
              input.form-control(type="text" name="sect2CardTitle3" value="Гарантия от застройщика")
            .col-12
              textarea.form-control.texts-textarea( name="sect2CardDescription3") Никита Лукьянчук присутствует на каждой сделке и дает свои личные гарантии, так же Никита является жителем ЖМ «Дайберг»
      .row.mb-5
        .col-4
          input.form-control(type="text" name="sect3Subtitle" value="Пора выбирать Свой Дом")
        .col-4
          input.form-control(type="text" name="sect3Title" value="О компании")
        .col-4
          input.form-control(type="text" name="sect3text" value="«Приедь, посмотри конкурентов и вернись к нам с чистой совестью»")
        .col-12.mt-4
          textarea.form-control.texts-textarea.texts-textarea2(placeholder="Описание" name="sect3Description") Никита Лукьянчук – принципиальный бизнесмен. В 2012 году основал строительную компанию «Свой Дом». Никита первый, кто вывел дуплексы и таухаусы в отдельный сегмент рынка недвижимости города Одессы. Новый формат недвижимости успешно закрепился после сдачи первого объекта. Теперь с каждым годом все больше людей отказываются от жизни в многоэтажных домах в пользу малоквартирных клубных домов, таунхаусов и дуплексов от застройщика «Свой Дом». На период 2020 года сдано в эксплуатацию более 300 объектов современного вида недвижимости. Жилые комплексы от застройщика «Свой Дом» символизируют высокое качество, частность и безопасность каждой семьи. Качество каждого этапа строительства высоко оценивается. Чтобы убедиться в этом – приезжайте в «Свой Дом» в любое удобное для Вас время.
      .row.mb-4
        .col-3
          +hintText(hint)
        .col-9
          .row
            .col-12.mb-3
              input.form-control(type="text" name="sect3PhotoText" value="Жизнь по соседству с застройщиком")
            .col-12
              textarea.form-control.texts-textarea.texts-textarea3( name="sect3Speech") «У нас большие планы на жизнь. И на парк.» (с) Никита Лукьянчук
      .row.mb-4
        .col-6
          input.form-control(type="text" name="servicesTitle" value="Услуги")
      .row.mb-4
        .col-3
          +hintText(hint)
        .col-9
          .row
            .col-12.mb-3
              input.form-control(type="text" name="buildingTitle" value="Строительство")
            .col-12
              textarea.form-control.texts-textarea.texts-textarea3( name="description") Строительство дома под ключ от компании «Свой Дом» это прежде всего: - Производство полного цикла строительства(от создания проекта дома до его введения в эксплуатацию) - Юридическое и техническое сопровождение - Соблюдение ДБН и ДСТУ - Заключение договора подряда на строительство - Выполнение работ согласно срокам указанным в договоре
      .row
        .col-6
          input.form-control(type="text" name="renovationPrices" value="Цены на ремонт")
        .col-6
          input.form-control(type="text" name="pricesDescription" value="Компания «Свой Дом» предоставляет услуги ремонта в виде трех ценовых пакетов на Ваш выбор")


  +photoModal('photo-modal')