extends includes/layout
include mixins/add-photo
include mixins/photoModal

block vars
    - const title = 'Admin | Texts'
    - const hint = 'default'

append content
    main#texts-renovation
        form.container.main-form(action="/")
            .row.mb-5
                .col-12
                    .page-title-row
                        h1.page-title Тексты
                        .btn-wrap
                            button.btn.btn-primary(type="submit") Сохранить изменения
            include texts-includes/header
            .row.mb-4
                .col-4
                    input.form-control(type="text" name="mainSubtitle" value="В Одессе")
                .col-4
                    input.form-control(type="text" name="mainTitle" value="Ремонт квартир")
                .col-4
                    input.form-control(type="text" name="mainDescription" value="Ремонт квартир")
            .row.mb-4.renovation-card
                .col-4
                    +hintText('Рекомендуемый формат фото - svg')
                    input.form-control.mt-3.mb-3(type="text" name="cardTitle" value="Качественные материалы")
                    textarea.form-control.card-textarea(name="cardDescription") If you are a serious astronomy fanatic like a lot of us are, you can probably remember that one event in childhood that started you along this exciting hobby.
                .col-4
                    +hintText('Рекомендуемый формат фото - svg')
                    input.form-control.mt-3.mb-3(type="text" name="cardTitle" value="Качественные материалы")
                    textarea.form-control.card-textarea(name="cardDescription") If you are a serious astronomy fanatic like a lot of us are, you can probably remember that one event in childhood that started you along this exciting hobby.
                .col-4
                    +hintText('Рекомендуемый формат фото - svg')
                    input.form-control.mt-3.mb-3(type="text" name="cardTitle" value="Качественные материалы")
                    textarea.form-control.card-textarea(name="cardDescription") If you are a serious astronomy fanatic like a lot of us are, you can probably remember that one event in childhood that started you along this exciting hobby.
            .row.mb-4
                .col-3
                    +hintText('')
                .col-9
                    .row
                        .col-12
                            input.form-control.mt-3.mb-3(type="text" name="" value="Подробнее")
                            textarea.form-control.card-textarea(name="") If you really enjoy spending your vacation ‘on water’ or would like to try something new and exciting for the first time, then you can consider a houseboat vacation. There are so many fun things to do and so many great landscapes to see on a houseboat vacation! But before making further plans, let’s take a look at the options that you have for a low-cost vacation on water: you could rent a houseboat this year and try out an altogether exotic kind of vacation this year, or you could indulge in a houseboat timeshare.
            .row.mb-4
                .col-3
                    +hintText('')
                .col-9
                    .row
                        .col-12
                            input.form-control.mt-3.mb-3(type="text" name="" value="Ещё подробнее")
                            textarea.form-control.card-textarea(name="") If you really enjoy spending your vacation ‘on water’ or would like to try something new and exciting for the first time, then you can consider a houseboat vacation. There are so many fun things to do and so many great landscapes to see on a houseboat vacation! But before making further plans, let’s take a look at the options that you have for a low-cost vacation on water: you could rent a houseboat this year and try out an altogether exotic kind of vacation this year, or you could indulge in a houseboat timeshare.

