.row.mb-5
    .col-12
        .texts-menu
            a.texts-menu_item#texts-menu_main(href='/texts.html') Главная
            a.texts-menu_item#texts-menu_about(href='/texts-about.html') О компании
            a.texts-menu_item#texts-menu_building(href='/texts-building.html') Строительство
            a.texts-menu_item#texts-menu_renovation(href='/texts-renovation.html') Ремонт
            a.texts-menu_item#texts-menu_feedback-form(href='/texts-feedback.html') Форма обратной