@import 'static/fonts';
@import 'static/constants';
@import 'static/mixins';
@import 'static/reset';
@import 'includes/header';
@import 'includes/footer';
@import 'includes/table';
@import 'includes/photo-modal';
@import 'includes/inputs-row';
@import 'includes/create-obj-header';
@import 'includes/add-photo';
@import 'includes/video-modal';
@import "includes/seo-header";
@import 'includes/texts-header';
@import 'pages/login';
@import 'pages/partners';
@import 'pages/menu';
@import 'pages/texts';
@import 'pages/texts-building';
@import 'pages/texts-about';
@import 'pages/texts-renovation';
@import 'pages/texts-feedback';
@import 'pages/slider';
@import 'pages/slide-create';
@import 'pages/create-object-about';
@import 'pages/create-object-objects';
@import 'pages/object-building-status';
@import "pages/create-object-gallery";
@import 'pages/feedback';
@import 'pages/settings';
@import "pages/seo";
@import 'pages/seo-robot';
@import 'pages/seo-head';


.preview-active {
  border: none !important;
  img {
    opacity: 1 !important;
    object-fit: cover;
  }
  label {
    display: none;
  }
}


.rectangle-wrapper {
  padding: 0 55px;
  margin: 30px 0;
}

.rectangle {
  height: 1px;
  width: 100%;
  background-color: #dfdfdf;
}

input,textarea {
  color: #222222;
  font-family: $museo-300;
  font-size: 16px;
  line-height: 22px;
}